<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/createCard.css}" rel="stylesheet"/>
</head>
<body>
<h1 class="title">Hover Me!</h1>


<div class="card">
    <div class="card__front card__part">
        <img class="card__front-square card__square"
             src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/MasterCard_logo.png/320px-MasterCard_logo.png">
        <img class="card__front-logo card__logo"
             src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">

        <form th:action="@{/addCard}" method="post" th:object="${creditcard}">


            <p class="card_numer" th:text="${number}"></p>
            <!--<input type="text" th:field="*{number}"  name="number" th:value="${number}" >-->
            <input type="hidden" th:attr="name='number'" th:value="${number}" >
            <!--<input type="text" name="number" th:value="${number}">-->

            <div class="card__space-75">
                <span class="card__label">Card holder</span>
                <p class="card__info" th:text="${username}"></p>
            </div>

            <select class="card__label22" name="teg" id="dropDownList">
                <option th:each="option : ${options}" th:value="${option}" th:text="${option}"></option>
            </select>

            <div class="card__space-25">
                <span class="card__label">Expires</span>
                <p class="card__info" th:text="${date}"></p>
                <!--<input type="hidden" th:field="*{date}" placeholder="date" th:value="${date}" required="">-->
                <input type="hidden" th:attr="name='date'" th:value="${date}" >
                <!--<input type="hidden" name="date" th:value="${date}">-->
            </div>
            <Br>
            <button>Submit</button>
        </form>
    </div>

    <div class="card__back card__part">
        <div class="card__black-line">

        </div>
        <div class="card__back-content">
            <div class="card__secret">
                <p class="card__secret--last">420</p>
            </div>
            <img class="card__back-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">
            <img class="card__back-logo card__logo"
                 src="https://www.fireeye.com/partners/strategic-technology-partners/visa-fireeye-cyber-watch-program/_jcr_content/content-par/grid_20_80_full/grid-20-left/image.img.png/1505254557388.png">

        </div>
    </div>

</div>
</body>
</html>